target/

# Pom
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
dependency-reduced-pom.xml

# Properties
release.properties
buildNumber.properties

# NetBeans
nb-configuration.xml

# Maven
mvnw.cmd
mvnw
.mvn/*